tests/fixtures/dify_dsl_v2.yml
app:
  workflow:
    graph:
      nodes:
        - id: 'start'
          data:
            title: '开始'
            type: 'start'
            variables:
              - variable: 'query'
                label: '用户输入'
                type: 'text-input'
        - id: 'tool_1'
          data:
            title: 'Google搜索'
            type: 'tool'
            provider_id: 'google'
            provider_type: 'builtin'
            tool_name: 'google_search'
            tool_label: 'Google搜索'
            tool_parameters:
              query: '{{#start.query#}}'
        - id: 'llm_1'
          data:
            title: 'LLM总结'
            type: 'llm'
            model:
              provider: 'openai'
              name: 'gpt-3.5-turbo'
              mode: 'chat'
            prompt_template:
              - role: 'system'
                text: '你是一个助手。'
              - role: 'user'
                text: '请总结以下内容：{{#tool_1.text#}}'
        - id: 'end'
          data:
            title: '结束'
            type: 'end'
            outputs:
              - value_selector: ['llm_1', 'text']
                variable: 'result'
      edges:
        - source: 'start'
          target: 'tool_1'
        - source: 'tool_1'
          target: 'llm_1'
        - source: 'llm_1'
          target: 'end'
